<div id="<%= dom_id recipe %>" class="w-full p-8">
  <card class="flex justify-between p-4">
    <div class="flex flex-col justify-center">
      <h2 class="text-2xl font-bold"><%= recipe.name %></h2>
      <p class="mt-8"><b>by: </b><%= recipe.user.name %></p>
    </div>
    <div class="">
      <p><%= recipe.description %></p>
    </div>
  </card>
</div>
