<section class="w-screen flex flex-col p-10">

  <h1 class="text-2xl font-bold mb-8">Foods</h1>

  <div id="recipes" class="">
    <ul class="flex flex-col">
      <% @foods.each do |food| %>
        <li><%= food.name %></li>
      <% end %>
    </ul>
  </div>

  <%= link_to "Back to recipes", request.referer || public_recipes_path %>
</section>