<section class="w-screen flex flex-col p-10">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-2xl font-bold mb-8">Recipes</h1>

  <div id="recipes" class="w-full m-auto flex flex-col items-center">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <button>
        <%= link_to "Show this recipe", recipe %>
      </button>
    <% end %>
  </div>

  <%= link_to "New recipe", new_recipe_path %>
</section>
